@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("TODO LIST") {

    <h1> @tasks.size() @Messages("tasks")</h1>

	<ul>
		@for(task <- tasks) {
			<li>
				@Messages("label"): @task.getLabel(),
				@Messages("project"): @task.getProject()
				
				@form(routes.Application.deleteTask(task.getId())) {
					<input type="submit" value=@Messages("delete")>
				}
			</li>
		}
	</ul>
	
	<h2>@Messages("addTask")</h2>
	
	@form(routes.Application.newTask()) {
		@inputText(taskForm("label"))
		@inputText(taskForm("project"))
		
		<input type="submit" value=@Messages("create")>
	}

}
